<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Multiroom Chat</title>
		<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
            <div class="row vertical-offset-80">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                    	<div class="panel-heading">                                
                            <div class="row-fluid user-row">
                                <img src="img/multiroom_chat_2.png" class="img-responsive" alt="Multiroom Chat"/>
                            </div>
                        </div>
                        <div class="panel-body">
                            <% if(errors) { %>
                            <% for(i = 0; i < errors.length; i ++) { %>
                            <div class="alert alert-danger">
                                <strong>
                                    Erro!
                                </strong> 
                                <%= errors[i].msg %>
                            </div>
                            <% } } %>
                            <form accept-charset="UTF-8" role="form" class="form-signin" method="POST" action="/chat">
                                <fieldset>
                                    <label class="panel-login">
                                        <div class="login_result"></div>
                                    </label>
                                    <input class="form-control" placeholder="Nome ou apelido" name="username" id="apelido" type="text" required="required" maxlength="20" minlength="3">
                                    <br></br>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" id="entrar" value="Entrar »">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>